@media (max-width: 1199px) {
	html{
		font-size: 8px;
	}
}
@media (max-width: 991px) {
	html{
		font-size: 7px;
	}
	.visible-lg {
		display: none;
	}
	.m-menu-link {
		display: block;
	}
	.get-started-btn {
		margin: 0;
	}
	.price-tags {
	flex-direction: column;
	}
	.price-tag {
		width: 90%;
		margin: 2rem auto;
	}
	.footer-menu {
		display: none;
	}
	.footer {
		justify-content: center;

	}
	.legal {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding-bottom: 6rem;
	}
	.social-links {
		padding-top: 3rem;
	}
	.social-links a {
		
		font-size: 3rem;
	}
}